{% extends "ecommerce/layouts/main.html" %}
{% block title %}
    ShopKart - Online shopping
{% endblock title %}

{% block content %}
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3"> {{catagory_name}} Product</h4>
                    <hr style="border-color:#FFFFFF">
                </div>
                {% for item in products %}
                    <div class="col-md-4 col-lg-2">
                        <div class="card my-3" style="height: 90%;">
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top img-fluid" style="height: 100%;">
                            <hr style="border-color:#000000; margin:0;">
                            <a href="{% url "product_details" catagory_name item.name %}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-primary">{{ item.name }}</h5>
                                    <p class="card-text d-flex justify-content-between">
                                        <span class="oldprice float-start"><s>Rs.{{ item.original_price}}</s></span>
                                        <span class="newprice float-end">Rs.{{ item.selling_price }}</span>
                                    </p>                            
                                </div>
                           </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
