<!--Fooder-->

{% load static  %}

<section class="footer">
  <div class="footer-content">
      <h3>OUR PROMISE</h3>
    <p>Protein portions are always cooked fresh to order
     <br>
  
<br>Our home made sauces are made fresh every day with natural ingredients, they contain no refined sugars and are all low in fat
We only use pink Himalayan salt      <br></p>
<div class="icons">
<a href="https://wa.me/qr/HPRZNEANPSVKE1"><img src="" width="40" height="40"/></a>
<a href="https://www.facebook.com/profile.php?id=100038506965517&mibextid=zLoPMf" ><img src=""width="40" height="40"/></a>
<a href="https://instagram.com/iam_rahulg_?igshid=YzAwZjE1ZTI0Zg=="><img src=""/width="40" height="40"></a>
<a href="mailto:rg429948@gmail.com?"><img src=""/width="40" height="40"></a>
     
  </div>
  
  
  </div>
  <div class="footer-content">
      <h4>CATEGORIES</h4>
      <li>Chicken_Briyani</li>
      <li>Mutton_Briyani</li>
      <li>Side_Dishes</li>
      <li>Drinks</li>
  
  </div>
  <div class="footer-content">
      <h4>INFORMATION</h4>
      <li>Blogs</li>
      <li>About_Us</li>
      <li>Contact_Us</li>
      <li>Terms_of_Service</li>
  
  </div>
  
  
  
  <div class="footer-content">
      <h4>SUPPORT</h4>
      <li>Privacy_Policy</li>
      <li>Shipping_Policy</li>
      <li>Refund_&_Return_Policy</li>
      <li>Terms_&_Conditions</li>
  
  </div>
  
  <div class="footer-content">
  <h4>Address</h4>
  <p>Address:603,washington st,<br>Nellikupam post,Cuddalore,<br>Tamilnadu-606301.<br>97777-97777</p>
  </div>
  
  <hr style="color:black">
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <br>
  <h5 class="copyright">Copyright © Perfumy Private Limited. All rights reserved.</h5>
  
      </section>
  </div>


  </div>